/* Общие стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 2;
    
  }
  h2 {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 120px;
    
   }
  body {
    font-family: 'Raleway', Raleway;
    font-size: 16px;
    line-height: 1.6;
    color: #292928;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
  }
  
  .container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    
    text-align: center;
  }
  
  /* Стили для хедера */
  header {
    margin-bottom: 20px;
  }
  
  .header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .back-button,
  .close-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-bottom: 100px;
    cursor: pointer;
  }
  
  .back-button {
    color: #333;
    text-decoration: none;
  }
  
  .close-button {
    color: #ccc;
  }
  
  /* Стили для главного контента */
  main {
    text-align: left;
  }
  
  
  
  .description {
    
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
    line-height: 2;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  input[type="email"] {
    width: 100%;
    
    margin-bottom: 40px;
    border-top: 0px solid #6C6C6C;
    border-left: 0px solid #6C6C6C;
    border-right: 0px solid #6C6C6C;
    border-bottom: 1px solid #6C6C6C;
    border-radius: 0px;
    font-size: 16px;
    line-height: 2;
  }
  
  #email {
    padding-left: 20px;
  }

  .email-label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 14px;
    margin-left: 80px;
    padding-bottom: 90px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 2;
  }
  
  input[type="email"]:focus + .email-label,
  input[type="email"]:valid + .email-label {
    top: -20px;
    left: 0;
    font-size: 12px;
    color: #666;
  }
  
  .submit-button {
    font-family: Raleway ;
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .submit-button:hover {
    background-color: #555;
  }
  
  .agreement {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
  
  }