/* Общие стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  /* Стили для хедера */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-left: 105px;
  }
  .notification-icon img {
    width: 30px;
    height: 30px;
  }
  
  /* Стили для поисковой строки */
  .search-box {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ccc;
    border-radius: 0;
    margin-bottom: 10px;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: #ccc;
  }
  
  .search-icon {
    padding: 10px;
    cursor: pointer;
  }
  
  .search-icon img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
  }
  
  .search-text {
    margin-bottom: 100px;
  }
  
  /* Стили для результата проверки */
  .result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 60px;
    padding-top: 60px;
  }
  
  .result-text {
    margin-top: 60px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Стили для футера */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #8AFD2F;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #8AFD2F;
  }
  
  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  nav ul li img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }